{% extends 'base.html' %}

{% block title %}
    <h1> {{ category }} </h1>
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <ul class="list-group">
        {% for category in categories %}
        <a href="{% url 'category' category.pk %}" class="list-group-item">{{ category.title }}</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    {% for item in books %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ item.name }}</h5>
            <p class="card-text"> {{ item.description }} </p>
            <p><img src="media/{{ item.picture }}" alt="Photo" width="300" height="400"></p>
            <p><a href="#" class="btn btn-primary">Read more...</a></p>
        </div>
        <div class="card-footer text-body-secondary">
            Цена книги:
            {{ item.price }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

